# Database Connection URLs
POSTGRE_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/task_db"
SQLITE_DATABASE_URL="file:./sqlite_bench.db"
MONGO_URI="mongodb://localhost:27017"
REDIS_URL="redis://localhost:6379"